<form action="/signin" method="POST">
    <input type = "email" name="email" placeholder = "Ingrese email">
    <input type = "password" name="password" placeholder = "Ingrese contraseña">
    <button type = "submit">
        Ingresa
    </button>
</form>